<footer class="footer">
    <div class="footer__content">
        <div class="footer__support-section">
            <button class="footer__support-btn">Задать вопрос</button>
        </div>
    </div>
</footer>