<div class="search-widget">
    <div class="search-widget__background"></div>
    <h1 class="search-widget__title">Твой следующий адрес начинается здесь</h1>
    <div class="search-widget__block">
        {{#each dropdowns}}
        <div class="search-widget__dropdown" data-type="{{type}}" data-key="{{key}}"></div>
        {{/each}}
        <div class="search-widget__field"></div>
    </div>
    <div class="search-widget__actions">
        <div class="search-widget__buttons"></div>
    </div>
</div>