{{!**
 * Handlebars шаблон для главной секции приложения
 * @template Section.hbs
 *}}
<div class="section"> 
   <h1>Твой следующий адрес начинается здесь</h1> 
   <div class="section__group"> 
        <button type="button" class="section__button">Показать на карте</button> 
        <button type="button" class="section__button">Показать объявления</button> 
   </div> 
</div>
