/* ===== RESET AND BASE STYLES ===== */
* {
	padding: 0;
	margin: 0;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* ===== TYPOGRAPHY AND LINKS ===== */
a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

address {
    font-style: normal;
}

/* ===== LAYOUT ELEMENTS ===== */
aside, nav, footer, header, section, main {
	display: block;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

/* ===== FORM ELEMENTS ===== */
input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}

/* ===== HEADER STYLES ===== */
.header-logo {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #000;
}

.header-logo:hover {
    color: #000;
}

.header-logo img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.header-nav {
    display: flex;
    width: 30% !important;
    justify-content: space-between;
}

.header-nav button {
    border-radius: 6px;
    padding: 10px 30px;
    background-color: #30916426;
    color: #1FBB72;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: center;
}

.header-nav button:hover {
    background-color: rgba(48, 145, 100, .3);
    transition: .2s linear;
}

.header-nav button:focus {
    background-color: rgba(48, 145, 100, .4);
    transition: .2s linear;
}

.header-user {
    display: flex;
    color: #000;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.header-user:hover {
    color: #000;
}

.header-user-photo {
    width: 40px;
    height: 40px;
    background-image: url("./images/active-user.png");
    cursor: pointer;
    margin-left: 35px;
}

.header-user-photo:hover,
.header-user-photo:focus {
    background-image: url("./images/not-active-user.png");
    transition: .2s linear;
}

/* ===== MODAL STYLES ===== */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    right: -35%;
    top: 15%;
    padding: 20px;
    border-radius: 50px !important;
    width: 30% !important;
    position: relative;
}

.close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 35px;
    background-image: url("./images/not-active-out.png");
    cursor: pointer;
}

.close:hover,
.close:focus {
    background-image: url("./images/active-out.png");
    transition: .1s linear;
}

/* ===== ARTICLE SECTION ===== */
.article {
    background-image: url("./images/background-article.png");
    background-size: cover;
    padding: 100px 0;
}

.article h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 50px;
}

.article button {
    width: 260px;
    height: 50px;
    padding: 12px 10px;
    border-radius: 6px;
    background-color: #1FBB72;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: 703;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}

.article button:hover {
    background-color: #22CA7C;
    transition: .2s linear;
}

.article button:focus {
    background-color: #309164;
    transition: .2s linear;
}

.article button:last-child {
    margin-left: 50px;
}

/* ===== CARDS AND SLIDER STYLES ===== */
.list-items h1 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    margin-top: 30px;
}

.slick-slide {
    padding: 15px;
}

.slick-card {
    border: 1px solid #dee2e6;
    border-radius: 12px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.slick-card:hover {
    transform: translateY(-5px);
}

.slick-prev:before,
.slick-next:before {
    color: #0d6efd !important;
    font-size: 30px;
}

.slick-next:before {
    content: "" !important;
}

.slick-prev:before {
    content: "" !important;
}

.slick-dots li button:before {
    font-size: 12px;
}

/* ===== CARD COMPONENTS ===== */
.card-image {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-like {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}

.card-like:hover,
.card-like-active {
    background: rgba(0,0,0,0.2);
    transition: .1s linear;
}

.card-like img {
    height: 20px;
    width: 20px;
}

.card-metro {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 10px;
}

.card-metro img {
    height: 11px;
    width: 16px;
    margin-right: 10px;
}

.card-price {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #000;
    margin: 5px 0;
    padding-left: 10px;
}

.card-description {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px;
}

.card-address {
    padding-left: 10px;
    padding-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #A0A8BE;
}

/* ===== FORM STYLES ===== */
.form form {
    opacity: 1;
    padding: 10px;
    text-align: center;
}

.form-logo {
    width: 150px;
    height: 150px;
    margin: 50px 0 20px;
}

.form-title {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 100%;
}

.form input {
    width: 80%;
    border-radius: 6px;
    border: 1px solid #A0A8BE;
    padding: 10px 50px 10px 10px;
    background-color: #fff;
    margin: 0 auto 20px;
    color: #A0A8BE;
}

.form button {
    padding: 10px 40px;
    border-radius: 6px;
    background-color: #1FBB72;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    margin: 0 auto;
}

.form button:hover {
    background-color: #22CA7C;
    transition: .2s linear;
}

.form button:focus {
    background-color: #309164;
    transition: .2s linear;
}

/* ===== FORM VALIDATION STYLES ===== */
.form-control {
    border: 2px solid #A0A8BE !important;
    color: #A0A8BE !important;
}

.form-control:focus {
    color: #000 !important;
    border: 2px solid #000 !important;
    box-shadow: none !important;
}

.form-right-data {
    border: 2px solid #1FBB72 !important;
}

.form-right-data:focus {
    border: 2px solid #1FBB72 !important;
}

.form-wrong-data {
    border: 2px solid #f00 !important;
    color: #f00 !important;
}

.form-wrong-data:focus {
    border: 2px solid #f00 !important;
    color: #f00 !important;
}

.form-error {
    color: #f00;
    display: block;
    margin-bottom: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.form-btn-error {
    background-color: rgba(48, 145, 100, .4) !important;
}

/* ===== PASSWORD FIELD STYLES ===== */
.password {
    position: relative;
}

.password-control {
    position: absolute;
    top: 17px;
    right: 60px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("./images/not-active-view.png") 0 0 no-repeat;
}

.password-control:hover {
    background: url("./images/no-view.png") 0 0 no-repeat;
    transition: .1s linear;
}

.password-control.view {
    background: url("./images/view.png") 0 0 no-repeat;
    transition: .1s linear;
}