// _Header.scss
.header {
	height: 10vh;
	border-bottom: 1px solid #A0A8BE;
	margin-bottom: 0;
	padding-bottom: 0;

	&__container {
		width: 90vw;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}

	&__logo-link {
		display: flex;
		align-items: center;
		text-decoration: none;
	}

	&__logo-image {
		width: 50px;
		height: 50px;
	}

	&__logo-title {
		font-family: "Inter", sans-serif;
		font-weight: 700;
		font-size: 36px;
		color: #000;
		margin-left: 25px;
	}

	&__menu {
		display: flex;
		align-items: center;
		gap: 25px;
	}

	&__menu-btn {
		font-family: "Inter", sans-serif;
		font-weight: 600;
		font-size: 16px;
		border: none;
		border-radius: 5px;
		padding: 10px 30px;
		background-color: #30916426;
		color: #1FBB72;
		text-align: center;
		cursor: pointer;
		transition: background-color 0.2s linear;

		&:hover {
			background-color: rgba(48, 145, 100, 0.3);
		}

		&:focus {
			background-color: rgba(48, 145, 100, 0.4);
		}

		&--disabled {
			background-color: rgba(48, 145, 100, 0.4);
			cursor: default;
			pointer-events: none;
		}

		&--like,
		&--user {
			width: 30px;
			height: 30px;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			background: transparent;

			&:hover {
				background: transparent;
				opacity: 0.7;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}