// _Section.scss
.section {
    background-image: url("../../images/background__section.png");
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    &__title {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 38px;
        color: #fff;
        margin-bottom: 50px;
        position: relative;
        z-index: 2;
    }

    &__button-group {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    &__button {
        font-family: "Lato", sans-serif;
        font-weight: 600;
        font-size: 16px;
        width: 260px;
        height: 50px;
        border-radius: 5px;
        border: none;
        background-color: #1FBB72;
        color: #fff;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.2s linear;

        &:hover {
            background-color: #22CA7C;
        }

        &:focus {
            background-color: #309164;
            outline: none;
        }

        &:active {
            transform: translateY(1px);
        }
    }
}