.boards {
    padding: 50px 0;
    width: 90vw;
    margin: 0 auto;
}

.boards__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.boards h1 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 30px;
}

.board__block {
    border: 1px solid #dee2e6;
    border-radius: 12px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.board__image {
    height: 260px;
    background-color: rgba(0, 0, 0, .5);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 10px;
}

.board__like {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}

.board__like:hover {
    background: rgba(0,0,0,0.2);
    transition: .1s linear;
}

.board__like img {
    height: 20px;
    width: 20px;
}

.board__price {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #000;
    margin-bottom: 10px;
    padding-left: 20px;
}

.board__description {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.board__metro {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 20px;
}

.board__metro img {
    height: 11px;
    width: 16px;
    margin-right: 5px;
}

.board__address {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #A0A8BE;
    margin-bottom: 10px;
    padding-left: 20px;
}

.error__state {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.retry__button {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    background-color: #1FBB72;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}