/**
 * Стили для компонента Boards (список объявлений)
 * @file Boards.css
 */
.list__boards {
    padding: 50px 0;
    width: 90vw;
    margin: 0 auto;
}

.list__boards__container {
    display: flex;
    flex-wrap: wrap;
}

.list__boards h1 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 30px;
}

.list__boards__block {
    border: 1px solid #dee2e6;
    border-radius: 12px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    width: 24%;
}

.board__image {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.board__like {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}

.board__like:hover {
    background: rgba(0,0,0,0.2);
    transition: .1s linear;
}

.board__like img {
    height: 20px;
    width: 20px;
}

.board__price {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #000;
    margin: 5px 0;
    padding-left: 10px;
}

.board__description {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px;
}

.board__metro {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 10px;
}

.board__metro img {
    height: 11px;
    width: 16px;
    margin-right: 10px;
}

.board__address {
    padding-left: 10px;
    padding-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #A0A8BE;
}