.header {
    height: 10vh;
    border-bottom: 1px solid #A0A8BE;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header__container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header__logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__logo-image {
    width: 50px;
    height: 50px;
}

.header__logo-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #000;
    margin-left: 25px;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__menu-btn {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #30916426;
    color: #1FBB72;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.header__menu-btn:hover {
    background-color: rgba(48, 145, 100, 0.3);
}

.header__menu-btn:focus {
    background-color: rgba(48, 145, 100, 0.4);
}

.header__menu-btn--disabled {
    background-color: rgba(48, 145, 100, 0.4);
    cursor: default;
    pointer-events: none;
}

.header__menu-btn--like,
.header__menu-btn--user {
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.header__menu-btn--like:hover,
.header__menu-btn--user:hover {
    background: transparent;
    opacity: 0.7;
}

.header__menu-btn--like img,
.header__menu-btn--user img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}