.logo__link{
    display: flex;
    align-items: center;
}

.logo__image {
    width: 50px;
    height: 50px;
}

.logo__title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000;
    margin-left: 25px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__user {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.menu__button {
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #30916426;
    color: #1FBB72;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.menu__button:hover {
    background-color: rgba(48, 145, 100, .3);
    transition: .2s linear;
}

.menu__button:focus {
    background-color: rgba(48, 145, 100, .4);
    transition: .2s linear;
}

.register, 
.logout {
    margin-left: 25px;
}